
@media(min-width: 768px) {
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

div{
    display: grid;
    justify-content: center;
    flex-direction: row;
}
img{
    width: 200px;
    height: auto;
    padding: 20px;
    margin: 30px;
    

}
input:checked{
cursor:pointer;
}



button {
	border: 1px solid rgb(2, 0, 0);
	background-color: rgb(172, 0, 0);
	color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 100px;
    width: auto;
}

button:hover {
	background-color: rgb(255, 255, 255);
	border-color: 1px solid rgb(0, 0, 0);
	color: rgb(175, 10, 10);
    cursor: pointer;
}

.center{
border-radius: 20%;
border: dotted rgb(255, 160, 160);
background-color: rgb(250, 152, 152);
}


